* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* logo css */
.logo1 {
  width: 10%;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .logo1 {
    display: none;
  }
}

/* todo section */
.todoh5 {
  text-align: center;
  font-size: 4.5vw;
  color: white;
}

.todop {
  color: black;
}

.todoside {
  background-color: #52527a;
}


.todop {
  color: white;
  text-align: justify;
}

.todo {
  height: 100%;
}

/* background section */
.carousel-inner img {
  height: 100%;
  width: 100%;
  /* opacity: .8; */
}

.carousel-caption {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 7vw;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 3vw;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

/* typing section */
.typingside {
  /* color: black; */
  background-color: #52527a;
}

#todomain {
  background-color: #eeeeee;
  padding: 2%;
}

#typingmain {
  /* border-top: 30px solid black; */
  background-color: #eeeeee;
  padding: 2%;
}

/* simon side */
#simonmain {
  background-color: #eeeeee;
  padding: 2%;
}

.simonside {
  background-color: #52527a;
}

figure {
  margin: 0;
}

/* fun-section */
.fun {
  width: 100%;
  background-color: #3939ac;
  color: white;
  font-family: cursive;
  padding-top: 200px 0;
  /* margin-top:  */
  font-size: 2rem;
  height: 100px;
}

.emoji {
  background-color: #eeeeee;
}

.gif {
  max-width: 100%;
}

/* connect section */
.social {
  font-size: 3.5rem;
  padding: 20px;
}

a {
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-envelope {
  color: #d44638;
}

.fa-facebook:hover,
.fa-git:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: #d5d5d5;
}

/* footer section */
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border: 1px solid #d5d5d5;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
}

.footerimage {
  width: 20%;
  border-radius: 50%;
}

#connect {
  background-color: #eeeeee;
}
